* {
  margin: 0;
  padding: 0;
}

.isCompleted {
  text-decoration: line-through;
}

.title, .form {
  text-align: center;
}

.todo > li {
  margin: 5px;
}

.imgBox {
  text-align: center;
}

img {
  width: 100%;
  height: 250px;
}

.slider {

}